.App {
  text-align: center;
  cursor: cell;
}

h3{
  margin: 0;
  padding: 0;
}

#original{
  background-color: whitesmoke;
  padding: 1rem 0;
}

#new{
  background-color: darkgrey;
  padding: 1rem 0;
}

#panel{
  background-color: grey;
  padding: 1rem 0;

  margin-bottom: 3rem;
}

.ib-div{
  display: inline-block;
  margin: 0 1rem;
}


/* DISPLAY */

#original-door{
  /* border: 2px solid black; */
  background-color: red;

  margin: 0 auto 3rem;
}

#new-door{
  background-color: aqua;
  box-sizing: border-box;
  display: grid;

}



/* PANELS */ 

.panel-container{
  height: 100%;
  width: 100%;
  position: relative;
}

.panel{
  background-color: green;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  box-sizing: border-box;
}


.panel-info-box{
  /* margin: 1rem 0.25rem; */
}

.info-left{
  float: left;
}

.info-right{
  float: right;
}








/* MOUSE COORDINATES */

#mouse-coordinates{
  position: fixed;
  width: fit-content;
  z-index: 1000;
  cursor: cell;
}